<div class="admin-nav-gap">
  <div class="container-fluid">
    <ol class="breadcrumb" *ngIf="feed; else elseBlock">
      <li><i class="fa fa-rss admin-dashboard"></i><a href="javascript:void(0);" (click)="goToFeeds()">Feeds</a></li>
      <li class="active">{{feed.title}}</li>
    </ol>
    <ng-template #elseBlock>
      <ol class="breadcrumb">
        <li><i class="fa fa-rss admin-dashboard"></i><a href="javascript:void(0);" (click)="goToFeeds()">Feeds</a></li>
        <li class="active">New</li>
      </ol>
    </ng-template>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class="col-md-10" *ngIf="feed">
          <h2><img style="width: 24px; height: 24px;" *ngIf="feed.mapStyle?.iconUrl" [src]="feed.mapStyle?.iconUrl"/>{{feed.title}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-accordion class="example-headers-align" [multi]="feed">
            <app-create-service 
              [expanded]="step === -1" 
              (opened)="setStep(-1)" 
              (cancelled)="serviceCreationCancelled()" 
              (serviceCreated)="serviceCreated($event)">
            </app-create-service>
            <ng-container *ngIf="services?.length">
            <mat-expansion-panel *ngIf="!feed" [disabled]="step === -1" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Choose a Service and Topic
                </mat-panel-title>
                <mat-panel-description>
                  {{selectedService?.title}} : {{selectedTopic?.title}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Select A Service</mat-label>
                    <mat-select [(ngModel)]="selectedService" (selectionChange)="serviceSelected()">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="serviceSearchControl" placeholderLabel="Select A Service"
                          noEntriesFoundLabel=""></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let service of services" [value]="service">
                        {{service.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Select A Topic</mat-label>
                    <mat-select [(ngModel)]="selectedTopic" (selectionChange)="topicSelected()">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="topicSearchControl" placeholderLabel="Select A Topic"
                          noEntriesFoundLabel=""></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let topic of topics" [value]="topic">
                        {{topic.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <app-topic-configuration
              [topic]="selectedTopic"
              [expanded]="step === 1"
              (opened)="setStep(1)"
              (cancelled)="setStep(0)"
              (topicConfigured)="topicConfigured($event)"
              (topicConfigurationChanged)="topicConfigChanged($event)">
            </app-topic-configuration>
            <app-feed-item-properties-configuration
              [expanded]="step === 2" 
              (opened)="setStep(2)"
              (cancelled)="setStep(1)"
              (itemPropertiesUpdated)="itemPropertiesUpdated($event)"
              [itemProperties]="itemProperties">
            </app-feed-item-properties-configuration>
            <app-feed-configuration
              [topic]="selectedTopic"
              [itemProperties]="currentItemProperties"
              [expanded]="step === 3 || feed"
              (opened)="setStep(3)"
              (cancelled)="setStep(2)"
              (feedConfigurationChanged)="feedConfigurationChanged($event)"
              (feedConfigurationSet)="feedConfigurationSet($event)">
            </app-feed-configuration>
            </ng-container>
          </mat-accordion>
        </div>
        <div class="col-md-6">
          <div *ngIf="preview else elseBlockPreview">
            <div class="preview--list">
              <mat-nav-list>
                <div *ngFor="let feature of preview?.content?.items?.features | slice:0:10">
                  <feed-item-summary [item]="feature" [feed]="preview.feed"></feed-item-summary>
                  <mat-divider></mat-divider>
                </div>
              </mat-nav-list>
            </div>
          </div>
          <ng-template #elseBlockPreview>
            <div class="preview--empty">
              <i class="material-icons preview__img--empty">list</i>
              <span class="preview__span--empty">Feed Preview</span>
            </div>
          </ng-template>
        </div>
      </div>
      
      <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="card" *ngIf="hasFeedDeletePermission">
          <div class="card-content">
            <strong class="text-danger">Delete feed</strong>
            <p class="text-danger">Deleting feed will remove all information. This cannot be undone, all feed data will
              be unrecoverable.</p>
            <button class="btn btn-danger top-gap" (click)="deleteFeed()"> <i class="fa fa-trash-o"></i>
              Delete</button>
          </div>
        </div>
      </div>

      <!-- </div> -->
      <!-- <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Add feed to an event</a>
                    </div>
                  </div>
                </nav>
              </div>
            </div>

            <div class="admin-table">
              <div class="well-item">
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Select An Event</mat-label>
                      <mat-select [(ngModel)]="eventModel">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Select An Event" noEntriesFoundLabel=""></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let event of filteredChoices | async" [value]="event">
                          {{event.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-success" (click)="addEventToFeed()" ng-disabled="eventModel == null"><i class="fa fa-plus"></i> Add Event</button>
                    </div>
                </div>
              </div>
            </div>

            <div class="row top-gap-l">
              <div class="col-md-12">
                <nav class="navbar navbar-default admin-dashboard-navbar">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand">Events for {{feed.title}}</a>
                    </div>

                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.eventSearch">
                      </div>
                    </form>
                    <div class="navbar-form navbar-right right-gap-s">
                      <button class="btn btn-default navbar-right" ng-click="$ctrl.editEvent = !$ctrl.editEvent">Edit</button>
                    </div>
                  </div>
                </nav>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="admin-table">
                  <ng-container *ngFor="let e of feedEvents | slice:eventsPage*eventsPerPage:eventsPerPage;">

                  <div class="well-item">
                    <div class="row pointer" (click)="gotoEvent(e)">
                      <div class="col-md-12">
                        <span class="pull-right" ngShow="editEvent">
                          <a class="btn btn-xs btn-danger" (click)="removeEventFromLayer($event, e)"><i class="fa fa-minus"></i></a>
                        </span>

                        <div class="right-gap pull-left">
                          <i class="fa fa-calendar admin-layer-icon"></i>
                        </div>
                        <div class="strong">{{e.name}}</div>
                        <div class="muted">{{e.description}}</div>
                      </div>
                    </div>
                  </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="pager pull-right">
                  <li *ngClass="{'disabled': eventsPage == 0}">
                    <a href="javascript:void(0);" (click)="eventsPage == 0 || (eventsPage=eventsPage-1)">&larr; Previous</a>
                  </li>
                  <li *ngClass="{'disabled': eventsPage >= (feedEvents.length/eventsPerPage) - 1}">
                    <a href="javascript:void(0);" (click)="eventsPage >= (feedEvents.length/eventsPerPage) - 1 || (eventsPage=eventsPage+1)">Next&rarr;</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>-->
        </div>
    </div>
  </div>
</div>