<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="navigation">
      <button mat-icon-button class="navigation__icon" (click)="cancel()"><mat-icon>close</mat-icon></button>
      <div class="navigation__title">
        <span *ngIf="!isNewObservation">Edit Observation</span>
        <span *ngIf="isNewObservation">Create Observation</span>
      </div>

      <button mat-button (click)="save()" [disabled]="observationForm.$invalid || saving || mask">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar *ngIf="saving" color="primary" mode="indeterminate" class="edit-progress"></mat-progress-bar>

  <div cdkScrollable #editContent class="edit-content" [ngClass]="{'edit-content--scroll-lock': mask}">
    <div class="edit-banner" *ngIf="error" @error>
      <div class="edit-banner--content">
        <mat-icon>error_outline</mat-icon>
        <div class="edit-banner--content__text">{{error?.message}}.</div>
      </div>
    
      <div class="edit-banner--actions">
        <button mat-button color="primary" (click)="error = null;">OK</button>
      </div>
    </div>

    <form class="observation" name="observationForm" novalidate>
      <mat-card class="form">
        <observation-edit-date [field]="form?.timestampField"></observation-edit-date>
      
        <observation-edit-geometry
          [field]="form?.geometryField"
          [featureId]="observation.id"
          [featureStyle]="geometryStyle"
          (onFeatureEdit)="onGeometryEdit($event)"
          (onFeatureChanged)="onGeometryChanged($event, field)">
        </observation-edit-geometry>
      </mat-card>

      <div *ngFor="let formDefinition of form?.forms">
        <div class="form">
          <observation-edit-form
            [form]="observationForm"
            [formDefinition]="formDefinition"
            [geometryStyle]="geometryStyle"
            [attachmentUrl]="attachmentUrl"
            (featureEdit)="onGeometryEdit($event)">
          </observation-edit-form>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="mask" @mask class="form-mask"></div>

</div>