<ng-template #template>
  <mat-expansion-panel [expanded]="expanded" (opened)="opened.emit()" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Set Feed Configuration
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="topic">
      <app-json-schema (onChanges)="feedConfigChanged($event)"
        [options]="formOptions" [data]="topic"
        [schema]="feedConfigurationSchema" framework="material-design" [layout]="formLayout">
      </app-json-schema>
    </div>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="setConfiguration()">{{buttonText}}</button>
    </mat-action-row>
  </mat-expansion-panel>
</ng-template>
