<div class="feeds-nav">
  <div ng-repeat="t in tabs" ng-click="onTabSwitched(t)">
    <feed-tab [tab]="t" [active]="t.id === tab.id"></feed-tab>
  </div>
</div>

<div class="feeds-content">
  <div class="slide-left new-obs-card form-chooser feed-card ng-animatable" ng-if="newObservationForms">
    <div class="feed-card-content">
      <observation-form-chooser forms="newObservationForms" on-form-picked="createObservation(form)"
        on-form-close="cancelNewObservation()">
      </observation-form-chooser>
    </div>
  </div>
  
  <div class="slide-left view-obs-card ng-animatable" ng-if="newObservation">
    <observation-form form="newObservationForm" observation="newObservation" on-form-close="onFormClose()">
    </observation-form>
  </div>
  
  <user-view class="slide-left new-obs-card view-obs-card feed-card ng-animatable" ng-if="viewUser" user="viewUser"
    event="event" observations="observations"></user-view>
  
  <observation-view class="slide-left new-obs-card view-obs-card feed-card ng-animatable" ng-if="viewObservation"
    observation="viewObservation" event="event"></observation-view>
  
  <div class="slide-left new-obs-card view-obs-card feed-card ng-animatable" ng-if="feedItem">
    <feed-item [item]="feedItem.item"
      [feed]="feedItem.feed">
    </feed-item>
  </div>
  
  <observation-form ng-if="editObservation" class="slide-left view-obs-card ng-animatable" form="editForm"
    observation="editObservation" on-form-close="onFormClose()" on-observation-delete="onObservationDelete($event)">
  </observation-form>
  
  <observation-feed class="feed-container" ng-if="tab.id === 'observations'"></observation-feed>
  <user-feed class="feed-container"ng-if="tab.id === 'people'"></user-feed>
  <feed class="feed-container" [feed]="tab.feed" ng-if="tab.feed"></feed>
  
</div>


