<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit()" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Describe the Feed
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="feedMetaDataForm" class="meta-data-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Summary</mat-label>
      <input matInput type="text" formControlName="summary"/>
    </mat-form-field>
    <mat-checkbox formControlName="itemsHaveIdentity">Items have unique ID</mat-checkbox>
    <mat-checkbox formControlName="itemsHaveSpatialDimension">Items are geospatial features</mat-checkbox>
    <mat-form-field>
      <mat-label>Primary property</mat-label>
      <input matInput type="text" formControlName="itemPrimaryProperty" [matAutocomplete]="itemPropertyAutoComplete"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Secondary property</mat-label>
      <input matInput type="text" formControlName="itemSecondaryProperty" [matAutocomplete]="itemPropertyAutoComplete"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date/time property</mat-label>
      <input matInput type="text" formControlName="itemTemporalProperty" [matAutocomplete]="itemPropertyAutoComplete"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Icon</mat-label>
      <input matInput type="text" formControlName="icon"/>
    </mat-form-field>

    <mat-autocomplete #itemPropertyAutoComplete="matAutocomplete">
      <mat-option *ngFor="let itemProperty of itemSchemaPropertyTitles" [value]="itemProperty.key">{{itemProperty.title}}</mat-option>
    </mat-autocomplete>
  </form>
  <mat-action-row>
    <button mat-button color="warn" (click)="onPreviousStep()">Previous</button>
    <button mat-button color="primary" (click)="onAccepted()">{{buttonText}}</button>
  </mat-action-row>
</mat-expansion-panel>
